{% extends "header.html" %}
{% block body %}
	
<body>
<div class="jumbotron">
	<div class="text-center">
        <h1>About Us</h1>
        <p style="color: green;">Last updated: ​July 2019</p>
    </div>
    <div style="text-align: center;">
        <div style="display: inline-block; text-align: left;">
        <ul>
	        <li>Expense Monitor is web application which helps you to effectively keep track of your expenses.</li>
	        <li>Developed by <b>Sidaartha Reddy</b></li>
        </ul>
        </div>
        </div>
      </div>
</body>

{% endblock %}
