{% extends "header.html" %}
{% block body %}
	
	<body>  
		<div class="container" style="max-width:300px; margin-top: 100px;">
		  <h2 class="text-center" style="margin-bottom: -8px;">Register</h2>
		  <br>
		  {% from "_formhelpers.html" import render_field %}
			<form method=post action="/register/">
			  <dl>
				{{ render_field(form.username) }}
				{{ render_field(form.email) }}
				{{ render_field(form.password) }}
				{{ render_field(form.confirm) }}
				{{ render_field(form.accept_tos) }}
			  </dl>
			  <input class="btn btn-lg btn-primary btn-block" style="max-width:100%;" type="submit" value="Register">
			</form>
		  {% if error %}
			<p class="error"><strong>Error:</strong> {{ error }}</p>
		  {% endif %}
		</div>
	 </body>

{% endblock %}
