{% extends "header.html" %}
{% block body %}



<body>
<div class="jumbotron">
	<div class="text-center">
        <h1>Terms of Service</h1>
        <p style="color: green;">Last updated: ​July 2019</p>
    </div>
    <div style="text-align: center;">
        <div style="display: inline-block; text-align: left;">
        <ul>
	        <li>Please read these Terms and Conditions ("Terms", "Terms and Conditions") carefully before using the​ website.</li>
	        <li>Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms.</li>
	        <li>These Terms apply to all visitors, users and others who access or use the Service.</li>
	        <li>Browser on your own risk</li>
	        <li style="color: red;">PS : Just kidding</li>
        </ul>
        </div>
        </div>
      </div>
</body>
{% endblock %}

